#textdomain wesnoth-For_Power

#define INTRO
  [story]
    [part]
      story = _ "About two decades were peaceful. Clare could raise the child what she found on her last adventure in peace. Her friends helped her with it."
    [/part]
    [part]
      story = _ "Clare realized that the child was highly intelligent and wielded some magic power. She helped her develop her magic powers. She gave her good manners to her as well."
    [/part]
    [part]
      story = _ "Alas during that time most of her experienced soldiers became too old and unable to fight."
    [/part]
    [part]
      story = _ "But one day Clare and her friends started to be bored."
    [/part]
  [/story]
#enddef

#define STORY4
  [story]
    [part]
      story = _ "With no fog clouding the view it was easy to return to the city. But they saw a person in front of them..."
    [/part]
  [/story]
#enddef

#define STORY5
  [story]
    [part]
      story = _ "After this strange encounter, Clare and her friends returned to the city to tell its denizens that they are safe again. Clare was also eager to find out who was behind this event."
    [/part]
  [/story]
#enddef

#define STORY6
  [story]
    [part]
      story = _ "After a few days of walking their path was crossed with a swamp occupied by saurians."
    [/part]
  [/story]
#enddef

#define STORY7
  [story]
    [part]
      story = _ "Clare arrived to lands to east from Wesnoth to looking for Ravan. But it seemed that she was not welcome here."
    [/part]
  [/story]
#enddef

#define STORY8
  [story]
    [part]
      story = _ "Despite their words Clare found a group of necromancers after a few days of march."
    [/part]
  [/story]
#enddef

#define STORY9
  [story]
    [part]
      story = _ "Not so far to the north they really found a cave and inside Ravan."
    [/part]
  [/story]
#enddef

#define STORY10
  [story]
    [part]
      story = _ "They ran as fast as they could away from his cave. They stopped not until at the dawn of next day."
    [/part]
  [/story]
#enddef

#define STORY11
  [story]
    [part]
      story = _ "Merissa led them through hills and woods to Tinry. Unfortunately she later lost sense of his presence."
    [/part]
  [/story]
#enddef

#define STORY12
  [story]
    [part]
      story = _ "The heroes returned to the castle in a few days but they realized soon that there is no time for celebration."
    [/part]
  [/story]
#enddef

#define STORY13
  [story]
    [part]
      story = _ "Merissa led her friends for a few days to a place where Clare never was. It was not definitely in her (former) realm."
    [/part]
  [/story]
#enddef
