#textdomain wesnoth-For_Power

[scenario]
  id=01_Nothing_is_left_but_sadness
	name=_"Nothing is left but sadness"
	next_scenario=02_New_threat
	map_data="{~add-ons/For_Power/chapter6/maps/01_Nothing_is_left_but_sadness.map}"
	snapshot=no
	turns=1
  {SCENARIO_MUSIC silvan_sanctuary.ogg}
  {EXTRA_SCENARIO_MUSIC elvish-theme.ogg}
  {EXTRA_SCENARIO_MUSIC heroes_rite.ogg}
	{INTRO}
	victory_when_enemies_defeated=no
  {SECOND_WATCH}
  
	[side]
		side=1
		controller=human
		team_name=good
    user_team_name= _ "Clare"

		type=Clare_Lich
		id=Clare
		name=_"Clare"
    variation=Clare_Lich_Redeem
		gender=female
		canrecruit=yes
		unrenamable=true
		[modifications]
			{TRAIT_INTELLIGENT}
      [advance]
        id=entangle
      [/advance]
      [advance]
        id=mysteryofdeath
      [/advance]
      [advance]
        id=redeem_advance
        [effect]
          apply_to=attack
          name="redeem"
          remove_specials=redeem 1
          [set_specials]
            mode=append
            {WEAPON_SPECIAL_REDEEM_2}
          [/set_specials]
        [/effect]
        [effect]
          apply_to=resistance
          replace=false
          [resistance]
            blade=-2
            pierce=-2
            impact=-2
            fire=-1
            cold=-2
          [/resistance]
        [/effect]
        [effect]
          apply_to=hitpoints
          increase_total=4
        [/effect]
      [/advance]
      [advance]
        id=redeem_advance
        [effect]
          apply_to=attack
          name="redeem"
          remove_specials=redeem 2
          [set_specials]
            mode=append
            {WEAPON_SPECIAL_REDEEM_3}
          [/set_specials]
        [/effect]
        [effect]
          apply_to=resistance
          replace=false
          [resistance]
            blade=-2
            pierce=-2
            impact=-3
            fire=-2
            cold=-2
            arcane=-2
          [/resistance]
        [/effect]
        [effect]
          apply_to=hitpoints
          increase_total=5
        [/effect]
      [/advance]
		[/modifications]

		recruit=
		
		{FLAG_VARIANT long}
		gold=0
		income=-2
	[/side]
  
  [side]
    side=2
    controller=null
    team_name=good
	  
	  no_leader=yes
    
	  gold=0
	  income=-2
  [/side]
  
  [event]
    name=prestart
    # wmllint: recognize Merissa
    # wmllint: recognize Lemyr
    # wmllint: recognize Amiwen
    [get_global_variable]
      namespace=james_the_invisible_for_power
      from_global=chapter_5_complete
      to_local=chapter_5_complete
    [/get_global_variable]
    [if]
      [variable]
        name=chapter_5_complete
        equals=1
      [/variable]
      [then]
        [get_global_variable]
          namespace=james_the_invisible_for_power
          from_global=chapter_5_transfer_store
          to_local=transfer_store
        [/get_global_variable]
        {VARIABLE transfer_store.unit.x 16}
        {VARIABLE transfer_store.unit.y 14}
        [unstore_unit]
          variable=transfer_store.unit
          find_vacant=no
        [/unstore_unit]
        {VARIABLE i 1}
        [while]
          [variable]
            name=i
            less_than=$transfer_store.unit.length
          [/variable]
          [do]
            {VARIABLE transfer_store.unit[$i].x recall}
            {VARIABLE transfer_store.unit[$i].y recall}
            [unstore_unit]
              variable=transfer_store.unit[$i]
            [/unstore_unit]
            {VARIABLE_OP i add 1}
          [/do]
        [/while]
      [/then]
      [else]
        [unit]
		      side=1
          type=Lemyr_Lich
          id=Lemyr
          name= _ "Lemyr"
		      unrenamable=true
          placement=recall
          random_traits=no
          [modifications]
            {TRAIT_LOYAL}
            [advance]
              id=redeem_advance
              [effect]
                apply_to=attack
                name="redeem"
                remove_specials=redeem 1
                [set_specials]
                  mode=append
                  {WEAPON_SPECIAL_REDEEM_2}
                [/set_specials]
              [/effect]
              [effect]
                apply_to=resistance
                replace=false
                [resistance]
                  blade=-2
                  pierce=-2
                  impact=-2
                  fire=-1
                  cold=-2
                [/resistance]
              [/effect]
              [effect]
                apply_to=hitpoints
                increase_total=4
              [/effect]
            [/advance]
            [advance]
              id=magic1
              max_times=1
              always_display=yes
              description= _ "able to use lightbeam"
              image=attacks/lightbeam.png
              strict_amla=yes
              require_amla=""
              [effect]
                apply_to=new_attack
                name=lightbeam
                description={STR_LIGHTBEAM}
                icon=attacks/lightbeam.png
                type=arcane
                range=ranged
                damage=8
                number=3
              [/effect]
              {GREATER_AMLA_DEFAULT_BONUSES}
            [/advance]
            [advance]
              max_times=1
              always_display=yes
              id=leadership
              description= _ "inspiring allies to fight better"
              image=attacks/woodensword.png
              strict_amla=yes
              require_amla=""
              [effect]
                apply_to=new_ability
                [abilities]
                  {ABILITY_LEADERSHIP_LEVEL_4}
                [/abilities]
              [/effect]
              {GREATER_AMLA_SMALLER_BONUSES}
            [/advance]
          [/modifications]
          {IS_LOYAL}
          {IS_HERO}
        [/unit]
        [unit]
          side=1
          type=Merissa_Lich
          id=Merissa
          name=_"Merissa"
		      placement=recall
          gender=female
          unrenamable=true
          [modifications]
            {TRAIT_LOYAL}
            {TRAIT_RESILIENT}
            [advance]
              id=leadership
            [/advance]
            [advance]
              max_times=1
              always_display=yes
              id=quarterstaff
              description= _ "striking better with quarterstaff"
              image=attacks/quarterstaff.png
              strict_amla=yes
              require_amla=""
              [effect]
                apply_to=attack
                name=staff
                increase_damage=1
              [/effect]
              {GREATER_AMLA_DEFAULT_BONUSES}
            [/advance]
            [advance]
              id=leadership1
              max_times=1
              always_display=yes
              description= _ "inspiring fellow bandits to fight better"
              image=attacks/fist.png
              strict_amla=yes
              require_amla="leadership"
              [effect]
                apply_to=new_ability
                [abilities]
                  {ABILITY_BANDIT_LEADERSHIP_1}
                [/abilities]
              [/effect]
              {GREATER_AMLA_SMALLER_BONUSES}
            [/advance]
          [/modifications]
          {IS_LOYAL}
		      {IS_HERO}
        [/unit]
        [unit]
          side=1
          type=Amiwen_Elvish Seer
          id=Amiwen
          name=_"Amiwen"
		      placement=recall
		      upkeep=loyal
          gender=female
          unrenamable=true
          [modifications]
            {TRAIT_INTELLIGENT}
			      {TRAIT_DEXTROUS}
            [advance]
              max_times=1
              always_display=yes
              id=wings1
              description= _ "more dextrous (+1 movement, 1% better defences on all terrains)"
              image=icons/jewelry_butterfly_pin.png
              strict_amla=yes
              require_amla=""
              [effect]
                apply_to=movement
                increase=1
              [/effect]
              [effect]
                apply_to=defense
                replace=false
                [defense]
                  frozen=-1
                  castle=-1
                  sand=-1
                  village=-1
                  flat=-1
                  hills=-1
                  swamp_water=-1
                  cave=-1
                  shallow_water=-1
                  reef=-1
                  forest=-1
                  fungus=-1
                  deep_water=-1
                [/defense]
              [/effect]
              {GREATER_AMLA_DEFAULT_BONUSES}
            [/advance]
            [advance]
              max_times=2
              always_display=yes
              id=wings2
              description= _ "more dextrous (+1 movement, 1% better defences on all terrains)"
              image=icons/jewelry_butterfly_pin.png
              strict_amla=yes
              require_amla="wings1"
              [effect]
                apply_to=movement
                increase=1
              [/effect]
              [effect]
                apply_to=defense
                replace=false
                [defense]
                  frozen=-1
                  castle=-1
                  sand=-1
                  village=-1
                  flat=-1
                  hills=-1
                  swamp_water=-1
                  cave=-1
                  shallow_water=-1
                  reef=-1
                  forest=-1
                  fungus=-1
                  deep_water=-1
                [/defense]
              [/effect]
              {GREATER_AMLA_DEFAULT_BONUSES}
            [/advance]
            [advance]
              max_times=1
              always_display=yes
              id=faerie1
              description= _ "causing more havoc with faerie fire"
              image=attacks/faerie-fire.png
              strict_amla=yes
              require_amla=""
              [effect]
                apply_to=attack
                name=faerie fire
                increase_attacks=1
              [/effect]
              {GREATER_AMLA_DEFAULT_BONUSES}
            [/advance]
          [/modifications]
          {IS_LOYAL}
		      {IS_HERO}
        [/unit]
      [/else]
    [/if]
    {CLEAR_VARIABLE transfer_store}
    [if]
      [variable]
        name=chapter_5_complete
        equals=1
      [/variable]
      [else]
        [message]
          speaker=narrator
          message=_"You did not complete fifth chapter so you can choose 9 advancements for the heroine."
          image=wesnoth-icon.png
        [/message]
      [/else]
    [/if]
    [recall]
      id=Merissa
      x,y=22,15
    [/recall]
  [/event]
  
  [event]
    name=start
    [move_unit]
      id=Merissa
      to_x,to_y=17,14
    [/move_unit]
    [message]
      speaker=Merissa
      message=_"Hey! What are you doing here?"
    [/message]
    [message]
      speaker=Clare
      message=_"Oh , hi Merissa. I had a nightmare and could not fall asleep again."
    [/message]
    [message]
      speaker=Merissa
      message=_"Was it for first time or ..."
    [/message]
    [message]
      speaker=Clare
      message=_"Well, I had that dream for a few nights in a row but just tonight it turned ... ugly."
    [/message]
    [message]
      speaker=Merissa
      message=_"And what was it about? ... If you don't mind."
    [/message]
    [message]
      speaker=Clare
      message=_"It is alright ... I dreamt that I was in my home village, as a child. It was nighttime. Everything was fine, I was calmly sleeping. But then something woke me up. I had no idea what was going on. I went to look for my parents but I could not find them. So I opened the house doors and ..."
    [/message]
    [message]
      speaker=Merissa
      message=_"What did you see?"
    [/message]
    [message]
      speaker=Clare
      message=_"Everything was in flames, dead corpses were lying on the ground. I think that everyone from the village was dead. I also saw riders in dark armors riding away. They were probably responsible for that horrors."
    [/message]
    [message]
      speaker=Merissa
      message=_"That sounds really horribly."
    [/message]
    [message]
      speaker=Clare
      message=_"But it was not all."
    [/message]
    [message]
      speaker=Merissa
      message=_"What worse could possibly happen?"
    [/message]
    [message]
      speaker=Clare
      message=_"Then my parents were going to me. I was happy to see them ... at first. But when they were standing in front of me, I could see that their corpses were rotting. They died that night all everyone else. I was confused but they smiled and hugged me. They told me that everything is fine."
    [/message]
    [message]
      speaker=Merissa
      message=_"Oh my! That was really one horrible nightmare. But it was just a dream, right? It didn't really happen."
    [/message]
    [message]
      speaker=Clare
      message=_"I keep telling that to myself but ..."
    [/message]
    [message]
      speaker=Merissa
      message=_"It isn't true. Your parents didn't die, neither anyone else from your village. Well, when you were a kid."
    [/message]
    [message]
      speaker=Clare
      message=_"Well, they are all dead by now most likely ..."
    [/message]
    [message]
      speaker=Merissa
      message=_"It was just a bad dream really. It doesn't mean anything."
    [/message]
    [message]
      speaker=Clare
      message=_"You are right probably. Thank you, Merissa."
    [/message]
    [message]
      speaker=Merissa
      message=_"You're welcome. Are you feeling better? Will you be able to fall asleep now?"
    [/message]
    [message]
      speaker=Clare
      message=_"I think yes. Thank your again."
    [/message]
    [message]
      speaker=Merissa
      message=_"It was nothing. Let's go to sleep then."
    [/message]
    {FADE_TO_BLACK}
    [hide_unit]
      side=1
    [/hide_unit]
    {TELEPORT_UNIT (id=Clare) 23 16}
    {TELEPORT_UNIT (id=Merissa) 22 15}
    [unhide_unit]
      side=1
    [/unhide_unit]
    [recall]
      id=Lemyr
      x,y=23,15
    [/recall]
    [recall]
      id=Amiwen
      x,y=22,16
    [/recall]
    {MODIFY_UNIT id=Clare facing nw}
    [message]
      speaker=narrator
      message=_"A few days later ..."
      image= # wmllint: ignore
    [/message]
    {FADE_IN}
    [replace_schedule]
      {AFTERNOON}
    [/replace_schedule]
    [message]
      speaker=Clare
      message=_"Oh, what a nice evening. We might take a walk."
    [/message]
    [message]
      speaker=Merissa
      message=_"So you're good. You didn't have another nightmare, did you?"
    [/message]
    [message]
      speaker=Lemyr
      message=_"You had a nightmare? You did not tell me about that."
    [/message]
    [message]
      speaker=Clare
      message=_"It was just one time. Everything is fine now, Lemyr."
    [/message]
    [message]
      speaker=Lemyr
      message=_"Very well then."
    [/message]
    [message]
      speaker=Amiwen
      message=_"I do not want disquiet you but I can sense someone riding to our place."
    [/message]
    [unit]
      side=2
      type=Cavalier
      id=messenger
      generate_name=yes
      random_traits=no
      x,y=30,1
    [/unit]
    [move_unit]
      id=messenger
      to_x=30,25,17,17
      to_y=3,6,6,9
    [/move_unit]
    [delay]
      time=300
    [/delay]
    [message]
      speaker=messenger
      message={ASIDE _"Uh uh. I think I shaked them off. Well, seems I arrived, they should reside here. Yes, I can see some people."}
    [/message]
    {MODIFY_UNIT id=Lemyr facing nw}
    {MODIFY_UNIT id=Merissa facing nw}
    {MODIFY_UNIT id=Amiwen facing nw}
    [message]
      speaker=Clare
      message=_"Who are you and what is your business here?"
    [/message]
    {STORE_UNIT_VAR id=messenger name messenger_name}
    [message]
      speaker=messenger
      message=_"My name is $messenger_name. My liege, Earl Lendec'h tasked me with finding sages Clare and Lemyr. From what he heard they're the only people who can save us all. I doubted if the rumours were true but ..."
    [/message]
    [message]
      speaker=Clare
      message=_"You found them. I am Clare and this (pointing her head to the man on her right) is Lemyr."
    [/message]
    [message]
      speaker=messenger
      message=_"I see, you quite match the description I received. Will you help us then?"
    [/message]
    [message]
      speaker=Clare
      message=_"Hmm, with what?"
    [/message]
    [message]
      speaker=messenger
      message=_"You didn't hear about it? Persons in dark cloaks wandering the land and a lot of warriors, both alive and undead, cladded in black armor following them."
    [/message]
    [message]
      speaker=Clare
      message=_"Maybe but I do not know if I ..." # want to
    [/message]
    [set_variable]
      name=campaign_gold
      {QUANTITY value 4000 3000 2250}
    [/set_variable]
    [message]
      speaker=messenger
      message=_"Oh, I almost forgot, Earl Lendec'h sends you these $campaign_gold pieces of gold for necessary expenses and he'll pay you another three thousands once you're done."
    [/message]
    [message]
      speaker=Clare
      message=_"Hum, what do you mean with necessary expenses?"
    [/message]
    [message]
      speaker=messenger
      message=_"Some rumours about your power got to my lord but he somehow doubts you two - well or four - could stop them without an army. Unfortunately his earldom also under attack so he can't just give you command of his men. You have to find someone yourself, sorry."
    [/message]
    [message]
      speaker=Clare
      message=_"Well, we will see. We will do our best to put an end to these ... horrible things."
    [/message]
    [message]
      speaker=messenger
      speaker=_"Alright. Good luck and good bye."
    [/message]
    [move_unit]
      id=messenger
      to_x=17,25,30,30
      to_y=6,6,3,1
    [/move_unit]
    [kill]
      id=messenger
      animate=no
    [/kill]
    [message]
      speaker=Amiwen
      message=_"Uhm, did you think it over, Clare? I am not sure ..."
    [/message]
    [message]
      speaker=Clare
      message=_"No, I did not. I just know that I cannot stay here any longer, I still see aged Jolla dying in my arms."
    [/message]
    [message]
      speaker=Merissa
      message=_"Yes and also I can't stop thinking of Tinry. Such horrible fate. Did you forget about them?"
    [/message]
    [message]
      speaker=Amiwen
      message=_"Of course no."
    [/message]
    [message]
      speaker=Clare
      message=_"I know that you and Lemyr love this place but would you mind leaving it? For my peace?"
    [/message]
    [message]
      speaker=Lemyr
      message=_"It is fine, I do not want you to suffer."
    [/message]
    [message]
      speaker=Amiwen
      message=_"Right."
    [/message]
    [message]
      speaker=Clare
      message=_"Alright. Let us go at once."
    [/message]
    {CLEAR_VARIABLE messenger_name}
  [/event]
  
  [event]
    name=side 1 turn
    [if]
      [variable]
        name=chapter_5_complete
        equals=1
      [/variable]
      [else]
        {INITIAL_AMLAS Clare 9}
      [/else]
    [/if]
    {CLEAR_VARIABLE chapter_5_complete}
    [endlevel]
      result=victory
      carryover_report=no
      replay_save=no
    [/endlevel]
  [/event]
[/scenario]
