#textdomain wesnoth-For_Power

#define RECALL_HEROES
  [recall]
    id=olderJolla
  [/recall]
  [recall]
    id=Lemyr
  [/recall]
  [recall]
    id=Amiwen
  [/recall]
  [recall]
    id=Merissa
  [/recall]
  [recall]
    id=Tinry
  [/recall]
  [recall]
    id=Jolla
  [/recall]
#enddef

#define SPAWN_POINT X Y NUMBER TYPE
  [event]
    name=side 2 turn
    first_time_only=no
    {REPEAT {NUMBER} (
      [unit]
			  type={TYPE}
			  placement=map_passable
        x,y={X},{Y}
				side=2
		  [/unit]
    )}
  [/event]
#enddef

#define REMOVE_MENU_ITEM ID
#ifver WESNOTH_VERSION >= 1.11.1
  [clear_menu_item]
    id={ID}
  [/clear_menu_item]
#else
  [set_menu_item]
    id={ID}
    description= ""
    [show_if]
      [not]
      [/not]
    [/show_if]
    [command]
    [/command]
  [/set_menu_item]
#endif
#enddef
