#textdomain wesnoth-For_Power

#define ABILITIES_EVENTS
  # shockwave weapon special
  [event]
    name=attacker_hits
    first_time_only=no
    [filter_attack]
      special=shockwave
    [/filter_attack]
    [store_unit]
      [filter]
        x,y=$x1,$y1
      [/filter]
      variable=harmer
      kill=no
    [/store_unit]
    [store_unit]
      [filter]
        x,y=$x2,$y2
      [/filter]
      variable=primary_target
      kill=no
    [/store_unit]		#Stores the information about units to know their positions. Other targets are stored a bit lower, we need to damage them first.
    [harm_unit]
      [filter]
        [filter_adjacent]
          x,y=$x2,$y2
        [/filter_adjacent]
        [not]
          side=$harmer.side
        [/not]
        [not]
          x,y=$x2,$y2
        [/not]
      [/filter]
      [filter_second]
        x,y=$x1,$y1
      [/filter_second]
      amount=8
      damage_type=impact
      slowed=yes
      fire_event=yes
      experience=no
      animate=no
    [/harm_unit]
    [store_unit]
      [filter]
        [filter_adjacent]
          x,y=$x2,$y2
        [/filter_adjacent]
        [not]
          side=$harmer.side
        [/not]
        [not]
          x,y=$x2,$y2
        [/not]
      [/filter]
      variable=other_targets
      kill=yes		#We don't want to duplicate them.
    [/store_unit]
    {FOREACH other_targets i}
      {VARIABLE move_x $other_targets[$i].x}
      {VARIABLE move_y $other_targets[$i].y}
      {VARIABLE_OP move_x sub $primary_target.x}
      {VARIABLE_OP move_y sub $primary_target.y}
      {VARIABLE_OP other_targets[$i].x add $move_x}
      {VARIABLE_OP other_targets[$i].y add $move_y}		#Get the directions from the primary targets to others, and move them into them.
      [unstore_unit]
        variable=other_targets[$i]
        find_vacant=yes
        check_passability=yes			#We don't want them to be knocked into walls, do we?
      [/unstore_unit]
    {NEXT i}
    {CLEAR_VARIABLE harmer}
    {CLEAR_VARIABLE primary_target}
    {CLEAR_VARIABLE other_targets}
    {CLEAR_VARIABLE move_x}
    {CLEAR_VARIABLE move_y}
  [/event]
  # explosive weapon special
  [event]
    name=attacker_hits
    first_time_only=no
    [filter_attack]
      special=explosive
    [/filter_attack]
    {VARIABLE damage $damage_inflicted}
    {VARIABLE_OP damage multiply 100}
    [set_variable]
      name=resistance
      to_variable=second_unit.resistance.$weapon.type
    [/set_variable]
    [if]
      [variable]
        name=resistance
        greater_than=0
      [/variable]
      [else]
        {VARIABLE resistance 100}
      [/else]
    [/if]
    {VARIABLE_OP damage divide $resistance}
    {CLEAR_VARIABLE resistance}
    [harm_unit]
      [filter]
        [filter_adjacent]
          x,y=$x2,$y2
        [/filter_adjacent]
        [not]
          x,y=$x2,$y2
        [/not]
        [filter_side]
          [enemy_of]
            side=$unit.side
          [/enemy_of]
        [/filter_side]
      [/filter]
      [filter_second]
        x,y=$x1,$y1
      [/filter_second]
      amount=$($($damage*3)/4-4)
      damage_type=$weapon.type
      fire_event=yes
      experience=no
    [/harm_unit]
    {CLEAR_VARIABLE damage}
  [/event]
  # lightbringer ability
  [event]
    name=attacker hits
    first_time_only=no
    [filter_second]
      [filter_wml]
        alignment=lawful
      [/filter_wml]
      [filter_adjacent]
        ability=lightbringer
        is_enemy=no
      [/filter_adjacent]
    [/filter_second]
    [heal_unit]
      [filter]
        x,y=$x2,$y2
      [/filter]
      amount=2
      animate=yes
      restore_statuses=no
    [/heal_unit]
  [/event]
  [event]
    name=defender hits
    first_time_only=no
    [filter]
      [filter_wml]
        alignment=lawful
      [/filter_wml]
      [filter_adjacent]
        ability=lightbringer
        is_enemy=no
      [/filter_adjacent]
    [/filter]
    [heal_unit]
      [filter]
        x,y=$x1,$y1
      [/filter]
      amount=2
      animate=yes
      restore_statuses=no
    [/heal_unit]
  [/event]
  # older Jolla's scourge
  [event]
    name=attacker hits
    first_time_only=no
    id=attacker_poisons
    [filter_attack]
      special=scourge
    [/filter_attack]
    [filter_second]
      [not]
        [filter_wml]
          [variables]
            scourge=yes
          [/variables]
        [/filter_wml]
      [/not]
    [/filter_second]
    {VARIABLE second_unit.variables.scourge yes}
    {VARIABLE second_unit.status.unhealable yes}
    [unstore_unit]
      variable=second_unit
      find_vacant=no
    [/unstore_unit]
    [object]
      [filter]
        id=$second_unit.id
      [/filter]
      [effect]
        apply_to=image_mod
        replace="CS(-100,-25,-22)"
      [/effect]
    [/object]
  [/event]
  [event]
    name=defender hits
    first_time_only=no
    id=defender_poisons
    [filter_second_attack]
      special=scourge
    [/filter_second_attack]
    {VARIABLE unit.variables.scourge yes}
    {VARIABLE unit.status.unhealable yes}
    [unstore_unit]
      variable=unit
      find_vacant=no
    [/unstore_unit]
    [object]
      [filter]
        id=$unit.id
      [/filter]
      [effect]
        apply_to=image_mod
        replace="CS(-100,-25,-22)"
      [/effect]
    [/object]
  [/event]
  [event]
    name=turn refresh
    id=main_harmer
    first_time_only=no
    [store_unit]
      [filter]
        side=$side_number
        [filter_wml]
          [variables]
            scourge=yes
          [/variables]
        [/filter_wml]
        [not]
          [filter_adjacent]
            is_enemy=no
            ability=curing
          [/filter_adjacent]
          [or]
            [filter_adjacent]
              is_enemy=no
              ability=healing
            [/filter_adjacent]
          [/or]
        [/not]
      [/filter]
      variable=poisoned_temp
    [/store_unit]
    {FOREACH poisoned_temp i}
      [harm_unit]
        [filter]
          id=$poisoned_temp[$i].id
        [/filter]
        amount=4
        kill=yes
      [/harm_unit]
    {NEXT i}
    {CLEAR_VARIABLE poisoned_temp}
  [/event]
  [event]
    name=turn refresh
    first_time_only=no
    id=remove_poison
    [store_unit]
      [filter]
        side=$side_number
        [filter_wml]
          [variables]
            scourge=yes
          [/variables]
        [/filter_wml]
        [and]
          [filter_adjacent]
            is_enemy=no
            ability=curing
          [/filter_adjacent]
        [/and]
      [/filter]
      variable=poisoned_temp
    [/store_unit]
    {FOREACH poisoned_temp i}
      {VARIABLE poisoned_temp[$i].variables.scourge no}
      {VARIABLE poisoned_temp[$i].status.unhealable no}
      [unstore_unit]
        variable=poisoned_temp[$i]
        find_vacant=no
      [/unstore_unit]
      [object]
        [filter]
          id=$poisoned_temp[$i].id
        [/filter]
        [effect]
          apply_to=image_mod
          replace="CS(0,0,0)"
        [/effect]
      [/object]
    {NEXT i}
    {CLEAR_VARIABLE poisoned_temp}
  [/event]
  [event]
    name=post advance
    first_time_only=no
    id=unpoison_on_levelup
    [filter]
      [filter_wml]
        [variables]
          scourge=yes
        [/variables]
      [/filter_wml]
    [/filter]
    {VARIABLE unit.variables.scourge no}
    {VARIABLE unit.status.unhealable no}
    [unstore_unit]
      variable=unit
      find_vacant=no
    [/unstore_unit]
  [/event]
  # Merissa's frost
  [event]
    name=attacker hits
    first_time_only=no
    [filter_attack]
      special=frost
    [/filter_attack]
    [filter_second]
      [not]
        [filter_wml]
          [variables]
            frozen=yes
          [/variables]
        [/filter_wml]
      [/not]
    [/filter_second]
    {VARIABLE second_unit.variables.frozen yes}
    {VARIABLE second_unit.status.unhealable yes}
    [unstore_unit]
      variable=second_unit
      find_vacant=no
    [/unstore_unit]
  [/event]
  [event]
    name=turn refresh
    first_time_only=no
    [store_unit]
      [filter]
        [filter_wml]
          [variables]
            frozen=yes
          [/variables]
        [/filter_wml]
      [/filter]
      variable=freezing_temp
    [/store_unit]
    {FOREACH freezing_temp i}
      [if]
        [variable]
          name=freezing_temp[$i].side
          equals=$side_number
        [/variable]
        [then]
          {VARIABLE damage 3}
        [/then]
        [else]
          {VARIABLE damage 0}
        [/else]
      [/if]
      [harm_unit]
        [filter]
          id=$freezing_temp[$i].id
        [/filter]
        amount=$damage
        damage_type=cold
        slowed=yes
        kill=yes
      [/harm_unit]
    {NEXT i}
    {CLEAR_VARIABLE freezing_temp,damage}
  [/event]
  [event]
    name=post advance
    first_time_only=no
    [filter]
      [filter_wml]
        [variables]
          frozen=yes
        [/variables]
      [/filter_wml]
    [/filter]
    {VARIABLE unit.variables.frozen no}
    {VARIABLE unit.status.unhealable no}
    [unstore_unit]
      variable=unit
      find_vacant=no
    [/unstore_unit]
  [/event]
  # poisong weapon special
  [event]
    name=defender hits
    first_time_only=no
    [filter_second_attack]
      special=poison_g
    [/filter_second_attack]
    [filter]
      status=unpoisonable
      [not]
        status=poisoned
      [/not]
    [/filter]
    [if]
      [variable]
        name=unit.hitpoints
        greater_than=0
      [/variable]
      [then]
        {VARIABLE unit.status.poisoned yes}
        [unstore_unit]
          variable=unit
          text={STR_POISONED}
          {COLOR_HARM}
        [/unstore_unit]
      [/then]
    [/if]
  [/event]
  [event]
    name=attacker hits
    first_time_only=no
    [filter_attack]
      special=poison_g
    [/filter_attack]
    [filter_second]
      status=unpoisonable
      [not]
        status=poisoned
      [/not]
    [/filter_second]
    [if]
      [variable]
        name=second_unit.hitpoints
        greater_than=0
      [/variable]
      [then]
        {VARIABLE second_unit.status.poisoned yes}
        [unstore_unit]
          variable=second_unit
          text={STR_POISONED}
          {COLOR_HARM}
        [/unstore_unit]
      [/then]
    [/if]
  [/event]
  # leeches weapon special
  [event]
    name=attacker hits
    first_time_only=no
    [filter_attack]
      special=leeches
    [/filter_attack]
    [set_variable]
      name=damage_dealt
      value=$damage_inflicted
    [/set_variable]
    [set_variable]
      name=damage_dealt
      divide=2
      round=floor
    [/set_variable]
    {VARIABLE_OP unit.hitpoints add $damage_dealt}
    [if]
      [variable]
        name=unit.hitpoints
        greater_than=$unit.max_hitpoints
      [/variable]
      [then]
        {VARIABLE unit.hitpoints $unit.max_hitpoints}
      [/then]
    [/if]
    [unstore_unit]
      variable=unit
      find_vacant=no
      {COLOR_HEAL}
      text= _ "$damage_dealt"
    [/unstore_unit]
    {CLEAR_VARIABLE damage_dealt}
  [/event]
  [event]
    name=defender hits
    first_time_only=no
    [filter_second_attack]
      special=leeches
    [/filter_second_attack]
    [set_variable]
      name=damage_dealt
      value=$damage_inflicted
    [/set_variable]
    [set_variable]
      name=damage_dealt
      divide=2
      round=floor
    [/set_variable]
    {VARIABLE_OP second_unit.hitpoints add $damage_dealt}
    [if]
      [variable]
        name=second_unit.hitpoints
        greater_than=$second_unit.max_hitpoints
      [/variable]
      [then]
        {VARIABLE second_unit.hitpoints $second_unit.max_hitpoints}
      [/then]
    [/if]
    [unstore_unit]
      variable=second_unit
      find_vacant=no
      {COLOR_HEAL}
      text= _ "$damage_dealt"
    [/unstore_unit]
    {CLEAR_VARIABLE damage_dealt}
  [/event]
  # curse weapon special
  [event]
    name=attacker hits
    first_time_only=no
    [filter_attack]
      special=curse
    [/filter_attack]
    [filter_second]
      [not]
        status=cursed
      [/not]
    [/filter_second]
    [object]
      duration=turn
      [filter]
        id=$second_unit.id
      [/filter]
      [effect]
        apply_to=resistance
        replace=no
        [resistance]
          blade=15
          pierce=15
          impact=15
          fire=15
          cold=15
          arcane=15
        [/resistance]
      [/effect]
      [effect]
        apply_to=status
        add=cursed
      [/effect]
    [/object]
  [/event]
  [event]
    name=defender hits
    first_time_only=no
    [filter_second_attack]
      special=curse
    [/filter_second_attack]
    [filter]
      [not]
        status=cursed
      [/not]
    [/filter]
    [object]
      duration=turn
      [filter]
        id=$unit.id
      [/filter]
      [effect]
        apply_to=resistance
        replace=no
        [resistance]
          blade=15
          pierce=15
          impact=15
          fire=15
          cold=15
          arcane=15
        [/resistance]
      [/effect]
      [effect]
        apply_to=status
        add=cursed
      [/effect]
    [/object]
  [/event]
  # knockback weapon special
  [event]
    name=attack end
    first_time_only=no
    [filter_attack]
      special=knockback
    [/filter_attack]
    [if]
      [variable]
        name=second_unit.hitpoints
        less_than_equal_to=1
      [/variable]
      [else]
        [store_unit]
          [filter]
            x,y=$x2,$y2
          [/filter]
          variable=knockbacked
          kill=yes
        [/store_unit]
        {VARIABLE knock_x $x2}
        {VARIABLE knock_y $y2}
        {VARIABLE_OP knock_x sub $x1}
        {VARIABLE_OP knock_y sub $y1}
        {VARIABLE_OP knockbacked.x add $knock_x}
        {VARIABLE_OP knockbacked.y add $knock_y}
        [unstore_unit]
          variable=knockbacked
          find_vacant=yes
          check_passability=yes
        [/unstore_unit]
        [if]
          [have_unit]
            id=$knockbacked.id
          [/have_unit]
          [else]
            [unstore_unit]
              variable=knockbacked
              find_vacant=yes
              x,y=$x2,$y2
            [/unstore_unit]
          [/else]
        [/if]
        [if]
          [variable]
            name=knockbacked.hitpoints
            less_than_equal_to=1
          [/variable]
          [then]
            [kill]
              id=$knockbacked.id
              animate=no
              experience=yes
              fire_event=yes
              [filter_second]
                x,y=$x1,$y1
              [/filter_second]
            [/kill]
          [/then]
        [/if]
        {CLEAR_VARIABLE knock_x,knock_y,knockbacked}
      [/else]
    [/if]
  [/event]
  # doom weapon special
  [event]
    name=attacker hits
    first_time_only=no
    [filter_attack]
      special=doom
    [/filter_attack]
    [object]
      duration=forever
      [filter]
        x,y=$x2,$y2
      [/filter]
      [effect]
        apply_to=resistance
        replace=no
        [resistance]
          fire=5
          cold=5
          arcane=5
          impact=5
          blade=5
          pierce=5
        [/resistance]
      [/effect]
    [/object]
    [floating_text]
      x,y=$x2,$y2
      text="<span color='red'>" + _ "-5% all resistances" + "</span>"
    [/floating_text]
  [/event]
  # penetrate ability
  [event]
    name=attack end
    first_time_only=no
    [filter]
      ability=penetrate
    [/filter]
    {VARIABLE_OP unit.moves add 1}
    [unstore_unit]
      variable=unit
      find_vacant=no
    [/unstore_unit]
  [/event]
  # weaker hit and run ability
  [event]
    name=attack end
    first_time_only=no
    [filter]
      ability=hit and run weaker
    [/filter]
    {VARIABLE_OP unit.moves add "$($unit.max_moves/2)"}
    [unstore_unit]
      variable=unit
      find_vacant=no
    [/unstore_unit]
  [/event]
  # hit and run ability
  [event]
    name=attack end
    first_time_only=no
    [filter]
      ability=hit and run
    [/filter]
    {VARIABLE_OP unit.moves add $unit.max_moves}
    [unstore_unit]
      variable=unit
      find_vacant=no
    [/unstore_unit]
  [/event]
  # push ability
  [event]
    name=attack end
    first_time_only=no
    [filter]
      [filter_adjacent]
        ability=push
        is_enemy=no
      [/filter_adjacent]
    [/filter]
    {VARIABLE_OP unit.moves add 1}
    [unstore_unit]
      variable=unit
      find_vacant=no
    [/unstore_unit]
  [/event]
  # source of power ability
  [event]
    name=attacker hits
    first_time_only=no
    [filter_second]
      [filter_adjacent]
        ability=source of power
      [/filter_adjacent]
    [/filter_second]
    [if]
      [variable]
        name=damage_inflicted
        greater_than_equal_to=15
      [/variable]
      [then]
        [store_unit]
          [filter]
            ability=source of power
          [/filter]
          variable=reciever
        [/store_unit]
        [object]
          duration=turn
          [filter]
            id=$reciever.id
          [/filter]
          [effect]
            apply_to=attack
            [not]
              name=redeem
            [/not]
            increase_damage=1
          [/effect]
        [/object]
        [floating_text]
          x,y=$reciever.x,$reciever.y
          text="<span color='green'>" + _ "+1 damage" + "</span>"
        [/floating_text]
        {CLEAR_VARIABLE reciever}
      [/then]
    [/if]
  [/event]
  [event]
    name=defender hits
    first_time_only=no
    [filter]
      [filter_adjacent]
        ability=source of power
      [/filter_adjacent]
    [/filter]
    [if]
      [variable]
        name=damage_inflicted
        greater_than_equal_to=15
      [/variable]
      [then]
        [store_unit]
          [filter]
            ability=source of power
          [/filter]
          variable=reciever
        [/store_unit]
        [object]
          duration=turn
          [filter]
            id=$reciever.id
          [/filter]
          [effect]
            apply_to=attack
            [not]
              name=redeem
            [/not]
            increase_damage=1
          [/effect]
        [/object]
        [floating_text]
          x,y=$reciever.x,$reciever.y
          text="<span color='green'>" + _ "+1 damage" + "</span>"
        [/floating_text]
        {CLEAR_VARIABLE reciever}
      [/then]
    [/if]
  [/event]
#enddef
