#textdomain wesnoth-For_Power

#define TRAIT_BLESSED
    [trait]
        id=blessed
        male_name = _ "blessed"
        female_name = _ "female^blessed"
        description = _ "This unit is probably blessed by a god/goddess because it it is better than others of its kind.
+5% to physical resistances, +10%/20% to magical resistances,"
        help_text = _ "Sometimes fate smiles upon a child and gifts them with a high vitality, intelligence and resistance to damage. These children are called blessed and are often found and trained by powerful individuals or organizations.

Units with the blessed trait require 15% less experiences to advance, have 1 more hitpoint + 3 additional hitpoints per level and also have 5% bonus to physical resistances and 10%/20% to magical resistances."
        [effect]
            apply_to=hitpoints
            increase_total=1
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=3
            times=per level
        [/effect]
        [effect]
            apply_to=resistance
            replace=no
            [resistance]
                blade=-5
                pierce=-5
                impact=-5
                arcane=-20
                fire=-10
                cold=-10
            [/resistance]
        [/effect]
        [effect]
            apply_to=max_experience
            increase=-15%
        [/effect]
    [/trait]
#enddef

#define TRAIT_BLESSED_MUSTHAVE
    {TRAIT_BLESSED}
    [+trait]
        availability="musthave"
    [/trait]
#enddef

#define TRAIT_BELOVED
    [trait]
        name=beloved
        male_name=_"beloved"
        female_name=_"beloved"
        description=_"This is unit has its resistances increased by 50% and its chance to get hit by 15% if any allied units are next to it."
        help_text=_"This unit is adored by everyone who knows them and they will do everything to protect this unit from harm. If at least one allied unit is next to this one, it will have 50% better resistances and 15% lower chance to get hit on all terrains."
        [effect]
            apply_to=new_ability
            [abilities]
                [resistance]
                    id=beloved resistance
                    special_note=_"This unit has greater resistances when at least one allied unit is next to it."
                    add=50
                    max_value=100
                    affect_self=yes
                    affect_allies=no
                    affect_enemies=no
                    [filter_self]
                        [filter_adjacent]
                            is_enemy=no
                        [/filter_adjacent]
                    [/filter_self]
                [/resistance]
                [chance_to_hit]
                    id=beloved chance to hit
                    special_note=_"This unit is less likely to get hit when at least one allied unit is next to it."
                    affect_self=yes
                    affect_allies=no
                    apply_to=opponent
                    sub=10
                    [filter_self]
                        [filter_adjacent]
                            is_enemy=no
                        [/filter_adjacent]
                    [/filter_self]
                [/chance_to_hit]
            [/abilities]
        [/effect]
    [/trait]
#enddef

#define TRAIT_BELOVED_MUSTHAVE
    {TRAIT_BELOVED}
    [+trait]
        availability="musthave"
    [/trait]
#enddef
