#textdomain wesnoth-For_Power

# wmllint: local spellings unsummon

#define GUARD X Y
  [unit]
    side=2
    type=Royal Guard
    x={X}
    y={Y}
    generate_name=yes
    random_traits=yes
    upkeep=loyal
    ai_special=guardian
  [/unit]
#enddef

[scenario]
  id=13a_Escape_from_Dwarven_Doors
  name=_"Escape from Dwarven Doors"
  next_scenario=Epilogue
  map_data="{~add-ons/For_Power/chapter2/maps/Dwarven_Doors.map}"
  snapshot=no
  turns=10
  disallow_recall=yes
  {SCENARIO_MUSIC breaking_the_chains.ogg}
  {EXTRA_SCENARIO_MUSIC heroes_rite.ogg}
  {EXTRA_SCENARIO_MUSIC nunc_dimittis.ogg}
  {EXTRA_SCENARIO_MUSIC into_the_shadows.ogg}
  #{STORY13a} no story
  victory_when_enemies_defeated=no
  {FIRST_WATCH_HOUR2}
  {FIRST_WATCH_HOUR3}
  {FIRST_WATCH_HOUR4}
  {MIDNIGHT_HOUR}
  {SECOND_WATCH_HOUR1}
  {SECOND_WATCH_HOUR2}
  {SECOND_WATCH_HOUR3}
  {SECOND_WATCH_HOUR4}
  {SECOND_WATCH_HOUR5}
  {SECOND_WATCH_HOUR6}
  [side]
    side=1
    controller=human
    team_name=clare
    user_team_name= _ "Clare"

    type=Clare_Lich
    id=Clare
    name=_"Clare"
    gender=female
    canrecruit=yes

    {FLAG_VARIANT knalgan}
    gold=0
    income=-2
  [/side]

  [side]
    side=2
    controller=ai
    team_name=guards
    user_team_name= _ "Guards"

    gold=0
    income=-2

    no_leader=yes

    {GUARD 10 28}
    {GUARD 14 28}
    {GUARD 30 10}
    {GUARD 30 13}
    {GUARD 14 18}
    {GUARD 18 18}
    {GUARD 9 10}
    {GUARD 25 17}
    {GUARD 8 21}
    {GUARD 12 4}
    {GUARD 22 23}
    {GUARD 4 17}
  [/side]

  [event]
    name=prestart
    {MOVE_UNIT id=Clare 19 7}
    [objectives]
      side=1
      [objective]
        description= _ "All heroes escape the city"
        condition=win
      [/objective]
      [objective]
        description= _ "Any hero attacks a guard"
        condition=lose
      [/objective]
      [objective]
        description= _ "Any guard attack a hero"
        condition=lose
      [/objective]
      [objective]
        description= _ "Any hero captures a village"
        condition=lose
      [/objective]
      {TURNS_RUN_OUT}
      [note]
        description= _ "This scenario uses 24 hours schedule unlike the rest."
      [/note]
      [note]
        description= _ "You cannot use Clare's redeem attack in this scenario."
      [/note]
      {IS_LAST_SCENARIO}
    [/objectives]
  [/event]

  [event]
    name=start
    {RECALL_HEROES}
    [message]
      speaker=Clare
      message=_"Well we are finally out off the prison. I think that I should unsummon these zombies. They could attract too much attention."
    [/message]
    [message]
      speaker=Merissa
      message=_"Ok. Now let's leave this city."
    [/message]
    [message]
      speaker=Clare
      message=_"Wait. I will make us invisible during the night."
    [/message]
    [object]
      id=nightstalk1
      silent=yes
      [filter]
        id=Clare
      [/filter]
      [effect]
        apply_to=new_ability
        [abilities]
          {ABILITY_NIGHTSTALK}
        [/abilities]
      [/effect]
    [/object]
    [object]
      id=nightstalk2
      silent=yes
      [filter]
        id=Lemyr
      [/filter]
      [effect]
        apply_to=new_ability
        [abilities]
          {ABILITY_NIGHTSTALK}
        [/abilities]
      [/effect]
    [/object]
    [object]
      id=nightstalk3
      silent=yes
      [filter]
        id=Merissa
      [/filter]
      [effect]
        apply_to=new_ability
        [abilities]
          {ABILITY_NIGHTSTALK}
        [/abilities]
      [/effect]
    [/object]
    [object]
      id=nightstalk4
      silent=yes
      [filter]
        id=Tinry
      [/filter]
      [effect]
        apply_to=new_ability
        [abilities]
          {ABILITY_NIGHTSTALK}
        [/abilities]
      [/effect]
    [/object]
    [object]
      id=nightstalk5
      silent=yes
      [filter]
        id=Amiwen
      [/filter]
      [effect]
        apply_to=new_ability
        [abilities]
          {ABILITY_NIGHTSTALK}
        [/abilities]
      [/effect]
    [/object]
    [message]
      speaker=Merissa
      message=_"Nice. Is it a kind of spell?"
    [/message]
    [message]
      speaker=Clare
      message=_"Yes, it is but I am not very good with it. It will last this morning."
    [/message]
    [message]
      speaker=Merissa
      message=_"It could be enough time to escape. So let's go."
    [/message]
    [message]
      speaker=Clare
      message=_"Only one next thing: try to avoid the guards. Ok now let us leave this city."
    [/message]
    {VARIABLE heroes_escaped 0}
  [/event]

  [event]
    name=attack
    [filter]
      side=1
    [/filter]
    [filter_second]
      side=2
    [/filter_second]
    [message]
      speaker=second_unit
      message= _ "What's this?! ... An escaped prisoner! I think I will be rewarded for reporting it."
    [/message]
    [message]
      speaker=unit
      message= _ "I've been discovered!"
    [/message]
    {DEFEAT}
  [/event]

  [event]
    name=attack
    [filter]
      side=2
    [/filter]
    [filter_second]
      side=1
    [/filter_second]
    [message]
      speaker=unit
      message= _ "What's this?! ... An escaped prisoner! I think I will be rewarded for reporting it."
    [/message]
    [message]
      speaker=second_unit
      message= _ "I've been discovered!"
    [/message]
    {DEFEAT}
  [/event]

  [event]
    name=capture
    first_time_only=no
    [filter]
      side=1
      [not]
        ability=concealment
      [/not]
    [/filter]
    [message]
      speaker=unit
      message= _ "Oh no, I have blown my cover!"
    [/message]
    {DEFEAT}
  [/event]

  [event]
    name=moveto
    first_time_only=no
    [filter]
      side=1
      x=31-35,1-22
      y=6-16,28-30
      terrain=Gg
    [/filter]
    [message]
      speaker=unit
      message=_"I have escaped."
    [/message]
    {VARIABLE_OP heroes_escaped add 1}
    [petrify]
      x,y=$x1,$y1
    [/petrify]
    [if]
      [variable]
        name=heroes_escaped
        equals=5
      [/variable]
      [then]
        [message]
          speaker=Clare
          message=_"Ok we all have escaped."
        [/message]
        [endlevel]
          result=victory
          bonus=no
          {NEW_GOLD_CARRYOVER 0}
        [/endlevel]
      [/then]
      [else]
        [message]
          speaker=unit
          message=_"Hurry up, friends."
        [/message]
      [/else]
    [/if]
  [/event]

  [event]
    name=victory
    [unpetrify]
      side=1
    [/unpetrify]
#ifver WESNOTH_VERSION >= 1.13.6
    [remove_object]
      id=Clare
      object_id=nightstalk1
    [/remove_object]
    [remove_object]
      id=Lemyr
      object_id=nightstalk2
    [/remove_object]
    [remove_object]
      id=Merissa
      object_id=nightstalk3
    [/remove_object]
    [remove_object]
      id=Tinry
      object_id=nightstalk4
    [/remove_object]
    [remove_object]
      id=Amiwen
      object_id=nightstalk5
    [/remove_object]
#else
    [store_unit]
      [filter]
        id=Clare
      [/filter]
      variable=clare_store
      kill=yes
    [/store_unit]
    {FOREACH clare_store.modifications.object i}
      [if]
        [variable]
          name=clare_store.modifications.object[$i].id
          equals=nightstalk1
        [/variable]
        [then]
          {CLEAR_VARIABLE clare_store.modifications.object[$i]}
          {VARIABLE_OP i sub 1}
        [/then]
      [/if]
    {NEXT i}
    [unstore_unit]
      variable=clare_store
      find_vacant=no
    [/unstore_unit]
    {TRANSFORM_UNIT id=Clare Clare_Lich}
    [store_unit]
      [filter]
        id=Lemyr
      [/filter]
      variable=lemyr_store
      kill=yes
    [/store_unit]
    {FOREACH lemyr_store.modifications.object i}
      [if]
        [variable]
          name=lemyr_store.modifications.object[$i].id
          equals=nightstalk2
        [/variable]
        [then]
          {CLEAR_VARIABLE lemyr_store.modifications.object[$i]}
          {VARIABLE_OP i sub 1}
        [/then]
      [/if]
    {NEXT i}
    [unstore_unit]
      variable=lemyr_store
      find_vacant=no
    [/unstore_unit]
    {TRANSFORM_UNIT id=Lemyr $lemyr_store.type}
    [store_unit]
      [filter]
        id=Merissa
      [/filter]
      variable=merissa_store
      kill=yes
    [/store_unit]
    {FOREACH merissa_store.modifications.object i}
      [if]
        [variable]
          name=merissa_store.modifications.object[$i].id
          equals=nightstalk3
        [/variable]
        [then]
          {CLEAR_VARIABLE merissa_store.modifications.object[$i]}
          {VARIABLE_OP i sub 1}
        [/then]
      [/if]
    {NEXT i}
    [unstore_unit]
      variable=merissa_store
      find_vacant=no
    [/unstore_unit]
    {TRANSFORM_UNIT id=Merissa $merissa_store.type}
    [store_unit]
      [filter]
        id=Tinry
      [/filter]
      variable=tinry_store
      kill=yes
    [/store_unit]
    {FOREACH tinry_store.modifications.object i}
      [if]
        [variable]
          name=tinry_store.modifications.object[$i].id
          equals=nightstalk4
        [/variable]
        [then]
          {CLEAR_VARIABLE tinry_store.modifications.object[$i]}
          {VARIABLE_OP i sub 1}
        [/then]
      [/if]
    {NEXT i}
    [unstore_unit]
      variable=tinry_store
      find_vacant=no
    [/unstore_unit]
    {TRANSFORM_UNIT id=Tinry $tinry_store.type}
    [store_unit]
      [filter]
        id=Amiwen
      [/filter]
      variable=amiwen_store
      kill=yes
    [/store_unit]
    {FOREACH amiwen_store.modifications.object i}
      [if]
        [variable]
          name=amiwen_store.modifications.object[$i].id
          equals=nightstalk5
        [/variable]
        [then]
          {CLEAR_VARIABLE amiwen_store.modifications.object[$i]}
          {VARIABLE_OP i sub 1}
        [/then]
      [/if]
    {NEXT i}
    [unstore_unit]
      variable=amiwen_store
      find_vacant=no
    [/unstore_unit]
    {TRANSFORM_UNIT id=Amiwen $amiwen_store.type}
#endif
  [/event]

  [event]
    name=time over
    [message]
      speaker=Clare
      message=_"The sun is rising and my spell is ceasing to work. We are revealed!"
    [/message]
  [/event]
[/scenario]

#undef GUARD
