#textdomain wesnoth-For_Power

#define INTRO
  [story]
    [part]
      story = _ "The years after defeating the orcish sovereign were rather peaceful. The orcs were still feeling the consequences of their defeat and were attacking the humans less frequently. Clare started to be bored."
    [/part]
    [part]
      story = _ "One day she decided to travel nearby lands. She left the village only with a few young mages who were eager to explore other lands. After week she found some elvish village."
    [/part]
  [/story]
#enddef

#define STORY2
  [story]
    [part]
      story = _ "So Clare rested in the elvish village for a few days. After that she continued in her adventure with her new friend."
    [/part]
    [part]
      story = _ "After a few days they came to lands of The Northern Alliance."
    [/part]
  [/story]
#enddef

#define STORY3
  [story]
    [part]
      story = _ "Clare stayed some time with these dwarves and humans. But in not so long time came more orcs."
    [/part]
  [/story]
#enddef

#define STORY4
  [story]
    [part]
      story = _ "After next victory Clare decided to tell her lord about the alliance. She teleported to his castle."
    [/part]
  [/story]
#enddef

#define STORY5
  [story]
    [part]
      story = _ "Clare was devastated by killing the earl. She stayed in the castle and ruled the land. Meanwhile she studied also."
    [/part]
  [/story]
#enddef

#define STORY6
  [story]
    [part]
      story = _ "Clare found someone to care for the land in her absence and with some earl's soldiers went to Dwarven Doors."
    [/part]
  [/story]
#enddef

#define STORY9
  [story]
    [part]
      story = _ "After defeating undead Clare explained the matter with earl Menvan to Merissa and Tinry. They understood it."
    [/part]
    [part]
      story = _ "After that Clare went back to Dwarven Doors with her army."
    [/part]
  [/story]
#enddef

#define STORY10
  [story]
    [part]
      story = _ "They arrived to Dwarven Doors but saw something wrong."
    [/part]
  [/story]
#enddef
